body {
    background-image: url("https://images.unsplash.com/photo-1569470451072-68314f596aec?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgb(30, 30, 30);
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 500px;
    margin-right: 500px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

.container2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.container3 {
    text-align: center;
    margin-top: 230px;

}

h1 {
    margin-bottom: 20px;
}

h2 {
    color: red;
}

p {
    margin-bottom: 10px;
}